body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.menu {
    color: black;
}
.comment {
 display: inline-block;
    position: relative; 
   }
   .comment:hover::after {
   content: attr(data-title);
    position: absolute; 
    left: 100%; top: 0%; 
    z-index: 1; 
    background: rgba(255,255,255,0.9); 
    font-family: Arial, sans-serif; 
    font-size: 13px; 
    padding: 15px 20px; 
    border: 1px solid #333;
   }
   
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.comment {
    display: inline-block;
    position: relative;
}

    .comment:hover::after {
        content: attr(data-title);
        position: absolute;
        left: 100%;
        top: 0%;
        z-index: 1;
        background: rgba(255,255,255,0.9);
        font-family: Arial, sans-serif;
        font-size: 13px;
        padding: 15px 20px;
        border: 1px solid #333;
    }

